<h1>Retail Nuts Store</h1>
<nav>
    <ul>
        <li>
            <a routerLink="/">
                <img src="assets\images\search.png" alt="Search Icon" class="icon">
            </a>
        </li>

        <li>
            <a routerLink="/login">
                <img src="assets\images\user.png" alt="login Icon" class="icon">
            </a>
        </li>

        <li>
            <a routerLink="/cart">
                <img src="assets\images\cart.png" alt="cart Icon" class="icon">
            </a>
        </li>

        <li>
            <a routerLink="/wishlist">
                <img src="assets\images\nav-heart.png" alt="wishlist Icon" class="icon">
            </a>
        </li>


    </ul>
</nav>