.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.left {
    flex: 1;
    padding: 10px;
}

.right {
    flex: 1;
    padding: 10px;
}

img {
    max-width: 100%; 
}


.wishlist {
    cursor: pointer;
}


.wishlist img {
    width: 30px; 
    height: 30px; 
    transition: transform 0.3s ease; 
}


.wishlist img:hover {
    transform: scale(1.1); 
}
label p {
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    width: 25%;
    padding: px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}



span {
    border: 1px solid rgba(100, 98, 98, 0.781);
    text-align: center;
    padding: 0px 18px 2px 18px;
    font-size: 16px;
    height: auto;
    margin: 3px;
}


.btn {
    padding: 10px 20px;
    margin: 19px 2px; 
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 20%;
    
    
}

.cart{
    background-color: goldenrod; 

}

.buy{
    background-color: #004085;
    margin-left: 10px;
}


.cart:hover {
    background-color:white; 
    color: goldenrod;
    border: 1px solid goldenrod;
}

.buy:hover{
    background-color: white;
    color:#004085;
    border: 1px solid #004085;
}

.right h3{
    color: goldenrod;
    margin: 0px;
    margin-top: 10px;
}


