<div class="container">
    <div  class="left"> 
        <img [src]="imageDetail.imageSource" alt="{{imageDetail.name}}">
    </div>

    <div class="right"> 
        <h2 style="margin: 0px;">{{imageDetail.name}}</h2>
        <h3 >Rs. {{individualProductPrice}}</h3>
        <label for="Weight">
            <p>WEIGHT</p>
        </label>
        <select [(ngModel)]="weight" (change)="calculateProductPrice()">
            <option value="250 GM">250 GM</option>
            <option *ngFor="let option of options" [value]="option">{{option}}</option>
        </select>

        <label for="size">
            <p>QTY</p>
        </label>
        <button (click)="countDecrement()" >-</button>
        <span >{{quantity}}</span>
        <button (click)="countIncrement()" >+</button><br>

        <button class="btn cart">Add to cart</button>
        <button (click)="buyNow()" class="btn buy">Buy it Now</button>
        <div class="wishlist">
            <img *ngIf="!clickWishList" src="assets/images/wishlist-before.png" (click)="changeWishlist()" alt="wishlist">
            <img *ngIf="clickWishList" src="assets/images/wishlist-after.png" (click)="changeWishlist()">
        </div>
    </div>
</div>
