
<div>
    <h2>Retail Store Management</h2>
    
    <select [(ngModel)]="itemTemp" required>
        <option value="null"  disabled selected>Select Products</option>
        <option *ngFor="let option of options" [value]="option">{{option}}</option>
    </select>
    
    <input type="number" [(ngModel)]="quantityTemp" placeholder="Enter the quantity">
    <span *ngIf="checkValue" style="color: red; margin-left: 13px;">Enter the Correct Value</span>
    <button  (click)="addData()">ADD</button>

    <button (click)="displayDetails()" >Generate Bil</button>
    <button (click)="reset()">Reset</button>
    <p *ngIf="generate">Total Bill Amount is {{result}} </p>
</div>