body{
    background:url(src\assets\images\Screenshot_20241221_203113_Chrome.jpg)no-repeat center center fixed;
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0;
}